[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
importlib-metadata = "==1.7.0"
torch = "*"
numpy = "*"
gym = "*"
tensorboard = "*"
box2d-py = "*"
pandas = "*"
pytorch-lightning = "*"
matplotlib = "*"
jupyter = "*"
torchvision = "*"

[dev-packages]

[requires]
python_version = "3.7"

[packages.hyperopt]
git = "https://github.com/hyperopt/hyperopt.git"

[packages.ray]
extras = [ "tune",]
version = "*"
